<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Frequency</title>
  </head>
  <body>
    {%if count is not empty%}
    <p>The frequency of this word is:</p>
    <h4>{{count}} times</h4>
    {%endif%}
    <p>Return to <a href="/"> home page</a></p>

  </body>
</html>
